@import "~@angular/material/theming";
@include mat-core();
.content {
  background-color: mat-color($mat-grey, 100);
  min-height: 100%;
  padding: 12px;
}

/deep/ md-icon.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 12px;
}

/deep/ .mat-list-item-content {
  height: auto !important;
}

.fab-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.filler {
  flex: 1 1 auto;
}
