#menu-side {
    display: block;
}
#menu-side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu-side ul li {
    width: 100%;
    float: left;
}
#menu-side ul li a {
    width: 100%;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    text-decoration: none;
    color: #adadad;
    transition: background-color 0.5s ease;
}
#menu-side ul li a:hover {
    background: #00010d;
}
#menu-side .active {
    background: #00010d;
    color: #84d8c0 !important;
    border-left: 2px solid #56aa8a;
    box-sizing: border-box;
}
#menu-side .active i {
    opacity: 1 !important;
}
#menu-side ul li a i {
    width: 32px;
    vertical-align: middle;
}
i {
    font-size: 1.5rem;
}
